/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2? family=Lato&family=Lusitana&family=Merienda:wght@700&family=Playfair+Display:ital@1&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador. 
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    ;
    font-size: 18px;
    background-color:#fbfbfb ;
}


body{
background-color:#fbfbfb  ;
color: #0f0f0f;
font-size: 18px;
line-height: 1,2;
min-height: 90vh;
}


#menu-principal{
   display: flex; 
    list-style: none;
    font-size: 20px;

}    


/* inicio- contacto*/
.menu-item {
    text-decoration: none;
    padding: 20px;
    color: inherit;
   padding: 10px; 
   display: inline-block;
   
   
}   

.menu-item a:hover{
    background-color:#af599e;
    padding: 5px;
}    


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid black;
  background-color: #fbfbfb;
  box-shadow: 0 3px 10px --5px #af599e;
  height: 90px;
}

/* logo eidos*/
.logo{
    width: 120px;
    display: flex;
 display: inline-block;
 padding-top: 20px;
 align-items: flex-end;
}

/*foto gato*/
.gato{
 width: 400px;
 border-radius: 60%;
  margin: 50px;
   float: left;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 48px;
}

p{
    padding-top: 20px;
   padding-bottom: 20px;
}


/*descargar cv */
#button{
    font-size: 20px;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 10px 15px;
    border-radius: 20px;
}



/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;

}


#inicio{
    display: flex;
    align-items: center;
    height: 100vh;
    scroll-margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 100vh;
}


#contact{
 text-align: center; 
 margin-left: 20%;
 padding: 10px ;
 background: rgba(175, 89, 158, 0.3);
 border-radius: 15px;
 width: 100vh;
 height: min-content;
}


/*hablemos!*/
h2{
    font-size: 32px;
    background-color:  rgba(175, 89, 158, 0.3);
    text-align: center;
}

.parrafo-sec{
    background-color: rgba(175, 89, 158, 0.3);
    text-align: center;
}



/* Para quitar los puntos a los items de listas */

#redes{
    width: 70px;
    height: 60px;
   align-items: center;
 flex-direction: row;


}

.logos-item{

    display: flex;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin: 10px;
 
}


.logos-item a:hover{
    background-color: #af599e;
    padding: 10px;
}
    
    


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}    



footer{
    background-color: #af599e;
    height: 70px;
    color:#fbfbfb ;
    padding: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
}



/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/